<nav>
  {% if page.url =="/work" %}
  <a href="/" class="green">home</a>
  {% else %}
  <a href="/work" class="green">work</a>
     <a href="/press" class="pink">press</a>
  {% endif %}
  <a href="https://hostpublications.com/products/the-hungering-years-by-summer-farah" class="purple">the hungering years</a>
  <a href="https://open-books-a-poem-emporium.myshopify.com/collections/workshops-4-gaza-bookstore/products/w4g-farah-summer-i-could-die-today-live-again" class="yellow">i could die today and live again</a>
  <a href="/contact" class="purple">contact</a>
</nav>
